* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
header {
    display: grid;
    grid-template-rows: 6vh;
    margin-bottom: 15px;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}
.menu {
    margin-left: 32px;
}
.logo {
    margin-bottom: 3px;
}
.form {
    display: flex;
    margin-left: 25%;
   margin-right: 25%;
   
}

.search input{
   width: 500px;
   padding: 12px;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
   outline: none;
}
.search-btn {
    padding: 5px 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    outline: none;
}
.profile img{
    width: 30px;
    margin-right: 32px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 10fr;
    max-width: 97%;
    margin: 0 auto;
    grid-gap: 20px;
}

main {
   max-width: 100%;
}
.menu__icon {
    list-style-type: none;
}
.menu__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 8px;
    gap: 15px;
}
.dividir {
    margin: 20px 0;
}
.cabeçario {
    font-size: 15px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   color: rgb(116, 108, 108);
}
.menu-footer__item {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
    
}
.menu-footer__link {
    text-decoration: none;
    color: rgb(81, 74, 74);
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-size: 12px;
}
.Texto {
    color: rgb(81, 74, 74);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
aside {
    margin: 80px;
}
.clip {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 100%;
    margin: 0 auto;
    grid-gap: 20px;
}
.clip-icon {
    list-style-type: none;
}
.clip-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #000;
   font-family:Arial, Helvetica, sans-serif;
   
}
.clip-tumb {
    max-width: 340px;
}
.logo-tumb {
    margin-top: 5px;
    margin-right: 10px;
    width: 35px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

@media screen and (max-width:800px){
    aside {
        margin: 0;
    }
    .clip {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}